<app-loading-spinner *ngIf="isLoading" />

<header>
    <div class="logo">
        <img src="assets/images/logo.svg" alt="">
    </div>
    <nav>
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
            </li>
        </ul>
        <div class="divisor"></div>
        @if (this.profile === null) {
        <vini-button type="primary" text="Entrar" routerLink="/{{constants.paths.LOGIN_PATH}}" />
        }
        @else {
        <div class="user-card" (click)="openProfileOptions()">
            <p>{{profile?.data?.value?.name}}</p>
            <img src="assets/icons/chevron.svg" alt="">
        </div>
        }
    </nav>
</header>