<app-auth-layout>
    <form [formGroup]="form">
        <div class="inputs">
            <vini-text-field-input label="Email" placeholder="Digite seu email" formControlName="email" />
            <vini-text-field-input label="Senha" placeholder="Digite sua senha" formControlName="password" />
            <vini-text-field-input label="Confirmar senha" placeholder="Digite sua senha novamente"
                formControlName="confirmPassword" />
        </div>
        <div class="options">
            <vini-button type="primary" text="Registrar" />
            <div class="divisor">
                <div class="divisor-bar"></div>
                <span>OU</span>
                <div class="divisor-bar"></div>
            </div>
            <vini-button type="secundary" text="Entrar" routerLink="/{{constants.LOGIN_PATH}}" />
        </div>
    </form>
</app-auth-layout>