@use 'fonts';

$primary-font: 'Poppins', sans-serif;
$heading-font: 'Playfair Display', serif;

$bg-color: #FFFFFF;
$bg-side-color: #F7F7F7;
$bg-side-dark-color: #EEEEEE;
$stronk-color: #D3D5D7;
$text-color: #2E2E2E;
$text-light-color: #B4B6B7;
$primary-color: #4F0C10;
$primary-light-color: #952B23;