@use './styles/variables' as vars;

* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: vars.$heading-font;
    color: vars.$text-color;
    font-weight: bold;
}

* {
    font-family: vars.$primary-font;
    font-weight: normal;
    color: vars.$text-color;
    padding: 0;
    margin: 0;
}

strong {
    font-family: vars.$primary-font;
    font-weight: bold;
}