<app-auth-layout>
    <form [formGroup]="form">
        <div class="inputs">
            <vini-text-field-input label="Email" name="email" placeholder="Digite seu email" formControlName="email"
                [errorMessage]="getErrorMessage(form, 'email')" />
            <vini-password-field-input label="Senha" name="password" placeholder="Digite sua senha"
                formControlName="password" [errorMessage]="getErrorMessage(form, 'password')" />
            @if(form.getError('invalidCredentials')){
            <div class="invalidLogin">
                Email e/ou senha inválidos
            </div>
            }
        </div>
        <div class=" options">
            <vini-button type="primary" text="Entrar" (click)="login()" />
            <div class="divisor">
                <div class="divisor-bar"></div>
                <span>OU</span>
                <div class="divisor-bar"></div>
            </div>
            <vini-button type="secundary" text="Registrar" routerLink="/{{constants.paths.REGISTER_PATH}}" />
        </div>
    </form>
</app-auth-layout>